<p-menubar class="toolbar">
    <ng-template pTemplate="start">
      
    <div class="p-toolbar-group-left">
        <img src="../../assets/saw.svg" alt="Logo" class="logo">
        <span class="title">METAL MINDER</span>

  
      <button class="navegacion" pButton label="Pagina 1" [routerLink]="'/page1'"></button>
      <button class="navegacion" pButton label="Pagina 2" [routerLink]="'/page2'"></button>

    </div>
        

    </ng-template>
  </p-menubar>
  


  <router-outlet></router-outlet>
  

  